@using BLL.Dto
@model UserDto

<h2>Giriş Yap</h2>

<form asp-action="Login" method="post">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" />
    <br />
    <button type="submit">Giriş</button>
</form>